.main-wrapper {
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
}
div{
    outline: 1px solid chartreuse;
}
.site-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
 /* - - - header*/
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav{
    display: flex;
}
.nav li{
    /*width: 100%;*/
    flex-wrap: wrap;
    margin-top: 28px;

    /*padding-right: 10px;*/
}
.nav-bar .nav li a{
    display: block;
    color: black;
    padding: 5px;
    /*padding-right: 85px;*/
    font-size: 11px;
    outline: 1px solid chartreuse;
}

.img-logo{
    flex-basis: auto;
}


/*- - - - main header*/
.main-header {
    height: 525px;
    background: #7a8a9c url("../img/bg2.jpg") 100% ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}


/*------ content*/
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-content{
    display: flex;
    /*justify-content: space-evenly;*/
}
.post{
    display: flex;
    flex-direction: column;
    align-items: center;
}